body {
  background-color: rgb(69, 67, 67);
}

#myCanvas {
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
}

#projTitle {
  color: white;
  text-align: center;
  font-size: 50px;
  margin-top: 230px;
}

#projTitle::first-letter {
  color: black;
}

#userPrompt {
  color: white;
  text-align: center;
  font-size: 20px;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 62%;
  left: 47%;
  transform: translate(-50%, -70%);
}

#levels {
  text-align: center;
  font-size: 15px;
  color: white;
  background-color: black;
  font-weight: bolder;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 63.5%;
  left: 51%;
  transform: translate(-50%, -70%);
}


#userPrompt2 {
  color: white;
  text-align: center;
  font-size: 20px;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 64.3%;
  left: 48.4%;
  transform: translate(-50%, -70%);
}

#Branches {
  text-align: center;
  font-size: 15px;
  color: white;
  background-color: black;
  font-weight: bolder;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 65.9%;
  left: 54%;
  transform: translate(-50%, -70%);
}



