[submodule "java/practice/add"]
	path = java/practice/add
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/add
[submodule "java/practice/advanced-booleans"]
	path = java/practice/advanced-booleans
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/advanced-booleans
[submodule "java/practice/alter-table"]
	path = java/practice/alter-table
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/alter-table
[submodule "java/practice/array-absolute-values"]
	path = java/practice/array-absolute-values
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/array-absolute-values
[submodule "java/practice/arrays-2"]
	path = java/practice/arrays-2
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/arrays-2
[submodule "java/practice/arrays-3"]
	path = java/practice/arrays-3
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/arrays-3
[submodule "java/practice/arrays-4"]
	path = java/practice/arrays-4
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/arrays-4
[submodule "java/practice/arrays-5"]
	path = java/practice/arrays-5
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/arrays-5
[submodule "java/practice/arrays-6"]
	path = java/practice/arrays-6
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/arrays-6
[submodule "java/practice/arrays-7"]
	path = java/practice/arrays-7
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/arrays-7
[submodule "java/practice/arrays-8"]
	path = java/practice/arrays-8
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/arrays-8
[submodule "java/practice/average"]
	path = java/practice/average
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/average
[submodule "java/practice/boolean-operators"]
	path = java/practice/boolean-operators
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/boolean-operators
[submodule "java/practice/casting"]
	path = java/practice/casting
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/casting
[submodule "java/practice/char-comparision"]
	path = java/practice/char-comparision
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/char-comparision
[submodule "java/practice/cl-exceptions"]
	path = java/practice/cl-exceptions
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/cl-exceptions
[submodule "java/practice/combine-strings"]
	path = java/practice/combine-strings
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/combine-strings
[submodule "java/practice/comparisions"]
	path = java/practice/comparisions
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/comparisions
[submodule "java/practice/constructors"]
	path = java/practice/constructors
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/constructors
[submodule "java/practice/contains"]
	path = java/practice/contains
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/contains
[submodule "java/practice/contains-duplicates"]
	path = java/practice/contains-duplicates
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/contains-duplicates
[submodule "java/practice/contains-duplicates-1"]
	path = java/practice/contains-duplicates-1
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/contains-duplicates-1
[submodule "java/practice/create-table"]
	path = java/practice/create-table
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/create-table
[submodule "java/practice/create-view"]
	path = java/practice/create-view
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/create-view
[submodule "java/practice/custom-exception"]
	path = java/practice/custom-exception
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/custom-exception
[submodule "java/practice/delete"]
	path = java/practice/delete
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/delete
[submodule "java/practice/doesnt-contain"]
	path = java/practice/doesnt-contain
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/doesnt-contain
[submodule "java/practice/drop-table"]
	path = java/practice/drop-table
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/drop-table
[submodule "java/practice/endpoints"]
	path = java/practice/endpoints
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/endpoints
[submodule "java/practice/even-odd"]
	path = java/practice/even-odd
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/even-odd
[submodule "java/practice/find-sum"]
	path = java/practice/find-sum
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/find-sum
[submodule "java/practice/fizzbuzz"]
	path = java/practice/fizzbuzz
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/fizzbuzz
[submodule "java/practice/for-loop"]
	path = java/practice/for-loop
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/for-loop
[submodule "java/practice/foreign-key"]
	path = java/practice/foreign-key
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/foreign-key
[submodule "java/practice/generic"]
	path = java/practice/generic
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/generic
[submodule "java/practice/get-max"]
	path = java/practice/get-max
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/get-max
[submodule "java/practice/greater-lesser"]
	path = java/practice/greater-lesser
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/greater-lesser
[submodule "java/practice/group-by"]
	path = java/practice/group-by
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/group-by
[submodule "java/practice/guessing-game"]
	path = java/practice/guessing-game
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/guessing-game
[submodule "java/practice/hardcoded-login"]
	path = java/practice/hardcoded-login
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/hardcoded-login
[submodule "java/practice/hello-world"]
	path = java/practice/hello-world
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/hello-world
[submodule "java/practice/if-statement"]
	path = java/practice/if-statement
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/if-statement
[submodule "java/practice/index-of"]
	path = java/practice/index-of
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/index-of
[submodule "java/practice/inner-join"]
	path = java/practice/inner-join
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/inner-join
[submodule "java/practice/insert"]
	path = java/practice/insert
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/insert
[submodule "java/practice/instantiation"]
	path = java/practice/instantiation
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/instantiation
[submodule "java/practice/interfaces"]
	path = java/practice/interfaces
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/interfaces
[submodule "java/practice/is-palindrome"]
	path = java/practice/is-palindrome
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/is-palindrome
[submodule "java/practice/is-sorted"]
	path = java/practice/is-sorted
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/is-sorted
[submodule "java/practice/is-sum"]
	path = java/practice/is-sum
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/is-sum
[submodule "java/practice/lists"]
	path = java/practice/lists
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/lists
[submodule "java/practice/longest-string"]
	path = java/practice/longest-string
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/longest-string
[submodule "java/practice/map"]
	path = java/practice/map
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/map
[submodule "java/practice/map-1"]
	path = java/practice/map-1
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/map-1
[submodule "java/practice/math"]
	path = java/practice/math
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/math
[submodule "java/practice/max-min"]
	path = java/practice/max-min
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/max-min
[submodule "java/practice/method-parameters"]
	path = java/practice/method-parameters
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/method-parameters
[submodule "java/practice/mock-interview-01"]
	path = java/practice/mock-interview-01
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/mock-interview-01
[submodule "java/practice/opp"]
	path = java/practice/opp
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/opp
[submodule "java/practice/order-by"]
	path = java/practice/order-by
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/order-by
[submodule "java/practice/outer-join"]
	path = java/practice/outer-join
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/outer-join
[submodule "java/practice/overriding"]
	path = java/practice/overriding
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/overriding
[submodule "java/practice/parent-object"]
	path = java/practice/parent-object
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/parent-object
[submodule "java/practice/path-parameters"]
	path = java/practice/path-parameters
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/path-parameters
[submodule "java/practice/pig-latin"]
	path = java/practice/pig-latin
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/pig-latin
[submodule "java/practice/primary-key"]
	path = java/practice/primary-key
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/primary-key
[submodule "java/practice/pyramid"]
	path = java/practice/pyramid
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/pyramid
[submodule "java/practice/queue"]
	path = java/practice/queue
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/queue
[submodule "java/practice/queue-1"]
	path = java/practice/queue-1
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/queue-1
[submodule "java/practice/remove-all-characters"]
	path = java/practice/remove-all-characters
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/remove-all-characters
[submodule "java/practice/remove-characters"]
	path = java/practice/remove-characters
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/remove-characters
[submodule "java/practice/request-body"]
	path = java/practice/request-body
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/request-body
[submodule "java/practice/reverse-string"]
	path = java/practice/reverse-string
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/reverse-string
[submodule "java/practice/select-all"]
	path = java/practice/select-all
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/select-all
[submodule "java/practice/select-columns"]
	path = java/practice/select-columns
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/select-columns
[submodule "java/practice/select-where"]
	path = java/practice/select-where
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/select-where
[submodule "java/practice/select-where-2"]
	path = java/practice/select-where-2
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/select-where-2
[submodule "java/practice/sets"]
	path = java/practice/sets
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/sets
[submodule "java/practice/sets-1"]
	path = java/practice/sets-1
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/sets-1
[submodule "java/practice/stack"]
	path = java/practice/stack
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/stack
[submodule "java/practice/stack-1"]
	path = java/practice/stack-1
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/stack-1
[submodule "java/practice/start"]
	path = java/practice/start
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/start
[submodule "java/practice/static-keyword"]
	path = java/practice/static-keyword
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/static-keyword
[submodule "java/practice/status-code"]
	path = java/practice/status-code
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/status-code
[submodule "java/practice/string-methods"]
	path = java/practice/string-methods
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/string-methods
[submodule "java/practice/string-methods-2"]
	path = java/practice/string-methods-2
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/string-methods-2
[submodule "java/practice/sub-array"]
	path = java/practice/sub-array
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/sub-array
[submodule "java/practice/subtract"]
	path = java/practice/subtract
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/subtract
[submodule "java/practice/truncate"]
	path = java/practice/truncate
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/truncate
[submodule "java/practice/update"]
	path = java/practice/update
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/update
[submodule "java/practice/while-loop"]
	path = java/practice/while-loop
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/while-loop
[submodule "java/practice/word-count"]
	path = java/practice/word-count
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/word-count
[submodule "java/practice/word-count-1"]
	path = java/practice/word-count-1
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/practice/word-count-1
[submodule "java/projects/bank-oop"]
	path = java/projects/bank-oop
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/projects/bank-oop
[submodule "java/projects/collections-oop"]
	path = java/projects/collections-oop
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/projects/collections-oop
[submodule "java/projects/fibonacci-fizzbuzz-oop"]
	path = java/projects/fibonacci-fizzbuzz-oop
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/projects/fibonacci-fizzbuzz-oop
[submodule "java/projects/flight-tracker"]
	path = java/projects/flight-tracker
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/projects/flight-tracker
[submodule "java/projects/grocery-api"]
	path = java/projects/grocery-api
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/projects/grocery-api
[submodule "java/projects/jdbc"]
	path = java/projects/jdbc
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/projects/jdbc
[submodule "java/projects/library-api"]
	path = java/projects/library-api
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/projects/library-api
[submodule "java/projects/quiz-api"]
	path = java/projects/quiz-api
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/projects/quiz-api
[submodule "java/projects/rationals-oop"]
	path = java/projects/rationals-oop
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/projects/rationals-oop
[submodule "java/projects/social-media-api"]
	path = java/projects/social-media-api
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/projects/social-media-api
[submodule "java/projects/social-media-blog"]
	path = java/projects/social-media-blog
	url = file:///Users/richa/OneDrive/Documents/Development/self-learning/java/projects/social-media-blog
