.li-div {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.delete-btn {
  /* background-color: red;
  color: white; */
  border: solid 1px gray;
  border-radius: 5px;
  padding: 4px 10px;
  cursor: pointer;
}