.dashboard {
  height: 100vh;
  width: 100%;
  position: relative;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.profile-content {
  width: 60%;
  padding: 2rem;
  height: 500px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.589);
  border-radius: var(--radius-box);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: auto;
  z-index: 1000;
  visibility: visible;
  backdrop-filter: blur(5px);
}

.floating-ui {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1000;
  opacity: 1;
  visibility: visible;
  pointer-events: none;
}

.floating-ui > * {
  pointer-events: auto;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(8px);
  border-radius: var(--radius-box);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.floating-ui.hidden {
  opacity: 0;
  visibility: hidden;
}
