@tailwind base;
@tailwind components;
@tailwind utilities;

.glowing-border {
  position: relative;
  padding: 10px 20px;
  border: 1px solid #3f3f46; /* Keep the same as `border-zinc-700` */
  border-radius: 10px;
  background-color: transparent;
  animation: border-glow 1.8s infinite alternate;
  text-align: center;
}

/* Define the border glowing animation */
@keyframes border-glow {
  0% {
    box-shadow: 0 0 10px rgba(90, 146, 236, 0.5),
      0 0 20px rgba(90, 146, 236, 0.3);
  }

  100% {
    box-shadow: 0 0 5px rgba(90, 146, 236, 0.2),
      0 0 10px rgba(90, 146, 236, 0.1);
  }
}

.glowing-grid {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Initial shadow (shadow-black equivalent) */
  animation: grid-glow 1.8s infinite alternate;
  transition: box-shadow 0.3s ease-in-out; /* Smooth transition for hover */
}

.glowing-grid:hover {
  box-shadow: 0 0 5px rgba(55, 65, 81, 1), 0 0 5px rgba(55, 65, 81, 0.8),
    0 0 5px rgba(55, 65, 81, 0.5); /* Stronger glow */
  animation: none; /* Stop the animation when hovering */
}

/* Define the glowing animation */
@keyframes grid-glow {
  0% {
    box-shadow: 0 0 10px rgba(90, 146, 236, 0.5); /* Blue glow start */
  }

  100% {
    box-shadow: 0 0 5px rgba(90, 146, 236, 0.2); /* Fainter blue glow end */
  }
}
