<div class="configuration-backdrop">
  <div class="configuration-container">
    <h1>Choose Difficulty</h1>
    <button class="beginner-btn" (click)="pick('Beginner Trainer')">Beginner Trainer</button>
    <button class="experienced-btn" (click)="pick('Experienced Trainer')">
      Experienced Trainer
    </button>
    <button class="master-btn" (click)="pick('Pokemon Master')">Pokemon Master</button>
    <button class="champion-btn" (click)="pick('Champion Mode')">Champion Mode</button>
    <button class="back-btn" routerLink="/">Back</button>
  </div>
</div>
