<!-- this content will come from common wrapper element -->
<!-- <header>
    <img src="status.png" alt="A signal symbol" />
    <h2>Server Status</h2>
  </header> -->

<!-- this is the component specific content that will be rendered in the ng-content in the wrapper class -->
<div>
  @if (currentStatus === "online") {
    <p>Servers are online</p>
    <p>All systems are operational.</p>
  } @else if (currentStatus === "offline") {
    <p>Servers are offline</p>
    <p>Functionality should be restored soon.</p>
  } @else {
    <p>Server status is unknown</p>
    <p>Fetching server status failed.</p>
  }
</div>
