.submit-button{
  box-sizing: border-box;
width: 265px;
height: 81px;
cursor: pointer;
background: #FFFFFF;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
}

.winner-label {
  text-align: center;
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

.tie-label {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
  color: orange;
}
